/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml
public/uploads/Firm 1/employees/1566470749_profile5.jpg
public/uploads/Firm 1/
public/uploads/firm-1/
